@model ConventionManager.Models.ChatEvent

@{
    ViewData["Title"] = "Details";
}

<h1>Details of this Event</h1>

@if (TempData["NoVacancies"] != null)
{
 <p class="alert alert-warning alert-dismissible" id="errorMessage">@TempData["NoVacancies"]</p>
}

<div>
    <h4>Chat Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeratorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeratorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExhibitorsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExhibitorsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conference.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttendantsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendantsId)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="ChatEvent" asp-action="RegisterToEvent" asp-route-eventId="@Model.Id" class="btn btn-primary">Join Event</a>
    <a asp-controller="Register" asp-action="UnRegisterFromEvent" asp-route-@event="@Model" class="btn btn-danger">Exit Event</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
    <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-secondary">Back to List</a>
</div>