@model ConventionManager.Models.EventAndSubscription

@{
    ViewData["Title"] = "Details";
}

<h1>Details of this Event</h1>

@if (TempData["SubscriptionCollision"] != null)
{
 <p class="alert alert-warning alert-dismissible" id="errorMessage">@TempData["SubscriptionCollision"]</p>
}
@if (TempData["NoMoreVacancies"] != null)
{
 <p class="alert alert-warning alert-dismissible" id="errorMessage">@TempData["NoMoreVacancies"]</p>
}
<div>
    <h4>Practical Sessions Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExhibitorEvent.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExhibitorEvent.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExhibitorEvent.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExhibitorEvent.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExhibitorEvent.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExhibitorEvent.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExhibitorEvent.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExhibitorEvent.Topic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExhibitorEvent.Conference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExhibitorEvent.Conference.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExhibitorEvent.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExhibitorEvent.Room.Name)
        </dd>
        <dt class = "col-sm-2">
            Vacancies
        </dt>
        <dd class = "col-sm-10">
            @Model.ExhibitorEvent.Room.GetVacancies(Model.ExhibitorEvent)
        </dd>
    </dl>
</div>
<div>
    @if (!Model.ExhibitorEvent.Subscriptions.Contains(Model.Subscription))
    {
        @if (!User.IsInRole("Exhibitor"))
        {
            <a asp-controller="AttendantSubscription" asp-action="CreateSubscription" asp-route-eventId="@Model.ExhibitorEvent.Id" class="btn rounded-sm btn-primary">Join Event</a>
        }
        else
        {
            <a asp-controller="AttendantSubscription" asp-action="CreateSubscription" asp-route-eventId="@Model.ExhibitorEvent.Id" class="btn rounded-sm btn-primary">Join Event</a>
            <a asp-controller="ExhibitorSubscription" asp-action="CreateSubscription" asp-route-eventId="@Model.ExhibitorEvent.Id" class="btn rounded-sm btn-primary">Join Event as Exhibitor</a>
        }
    }
    else
    {
        @if (!User.IsInRole("Exhibitor"))
        {
            <a asp-controller="AttendantSubscription" asp-action="DeleteSubscription" asp-route-eventId="@Model.ExhibitorEvent.Id" class="btn rounded-sm btn-danger">Quit Event</a>
        }
        else
        {
            @if (Model.Subscription.GetSubscriptionType() == "AttendantSubscription")
            {
                <a asp-controller="AttendantSubscription" asp-action="DeleteSubscription" asp-route-eventId="@Model.ExhibitorEvent.Id" class="btn rounded-sm btn-danger">Quit Event</a>
            }
            else
            {
                <a asp-controller="ExhibitorSubscription" asp-action="DeleteSubscription" asp-route-eventId="@Model.ExhibitorEvent.Id" class="btn rounded-sm btn-danger">Quit Event as Exhibitor</a>
            }
        }
    }
    <br/>
     @if (User.IsInRole("Organizer"))
     {
         <a asp-controller="Notification" asp-action="Create" asp-route-id="@Model.ExhibitorEvent.Id"
            asp-route-type="Event" asp-route-receivers="Attendants" class="btn rounded-sm btn-primary my-2">Notificate Attendants</a>
         <a asp-controller="Notification" asp-action="Create" asp-route-id="@Model.ExhibitorEvent.Id"
            asp-route-type="Event" asp-route-receivers="Exhibitors" class="btn rounded-sm btn-primary my-2">Notificate Exhibitors</a>
     }
    <br/>    
     @if (User.IsInRole("Organizer"))
     {
         <a asp-action="Edit" asp-route-id="@Model.ExhibitorEvent.Id" class="btn rounded-sm btn-success">Edit</a>
     }
    <a href="javascript:void(0);" onclick="history.go(-1);" class="btn rounded-sm btn-light">Go Back</a>
</div>
