@model ConventionManager.Models.EventAndSubscription

@{
    ViewData["Title"] = "Details";
}

<h1>Details of this Event</h1>

@if (TempData["SubscriptionCollision"] != null)
{
 <p class="alert alert-warning alert-dismissible" id="errorMessage">@TempData["SubscriptionCollision"]</p>
}

<div>
    <h4>Food Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Conference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Conference.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Room.Name)
    </dl>
</div>
<div>
    @if (!Model.Event.Subscriptions.Contains(Model.Subscription))
    {
        <a asp-controller="AttendantSubscription" asp-action="CreateSubscription" asp-route-eventId="@Model.Event.Id" class="btn btn-primary">Join Event</a>
    }
    else
    {
        <a asp-controller="AttendantSubscription" asp-action="DeleteSubscription" asp-route-eventId="@Model.Event.Id" class="btn btn-danger">Quit Event</a>
    }
    <br/>
     @if (User.IsInRole("Organizer"))
     {
         <a asp-controller="Notification" asp-action="Create" asp-route-Id="@Model.Event.Id"
            asp-route-type="Event" asp-route-receivers="Attendants" class="btn btn-primary my-2">Notificate Attendants</a>
     }
    <br/>
     @if (User.IsInRole("Organizer"))
     {
         <a asp-action="Edit" asp-route-id="@Model.Event.Id" class="btn btn-success">Edit</a>
     }
    <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-secondary">Back to List</a>
</div>
