@model ConventionManager.Models.EventCenterConferencesAndRooms

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Conference</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="EventCenter" asp-action="CreateConference", asp-route-id="@Model.EventCenter.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Conference.Name" class="control-label"></label>
                <input asp-for="@Model.Conference.Name" class="form-control" />
                <span asp-validation-for="@Model.Conference.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Conference.Description" class="control-label"></label>
                <input asp-for="@Model.Conference.Description" class="form-control" />
                <span asp-validation-for="@Model.Conference.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Conference.StartDate" class="control-label"></label>
                <input asp-for="@Model.Conference.StartDate" class="form-control" />
                <span asp-validation-for="@Model.Conference.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Conference.EndDate" class="control-label"></label>
                <input asp-for="@Model.Conference.EndDate" class="form-control" />
                <span asp-validation-for="@Model.Conference.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
