@model ConventionManager.Models.ConferenceAndSponsor

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Conference.Name)</h1>

@if (TempData["DateOutOfRange"] != null)
{
 <p class="alert alert-warning alert-dismissible" id="errorMessage">@TempData["DateOutOfRange"]</p>
}
@if (TempData["EventCollision"] != null)
{
 <p class="alert alert-warning alert-dismissible" id="errorMessage">@TempData["EventCollision"]</p>
}

<div>
    <h4>Conference</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conference.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conference.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conference.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conference.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conference.Description)
            </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conference.Description)
            </dd>
    </dl>
</div>
<div>
    <a asp-controller="Notification" asp-action="Create" asp-route-id="@Model.Conference.Id" asp-route-type="Conference"
       asp-route-receivers="Attendants" class="btn btn-primary my-2">Notificate Attendants</a>
    <a asp-controller="Notification" asp-action="Create" asp-route-id="@Model.Conference.Id" asp-route-type="Conference" 
       asp-route-receivers="Exhibitors" class="btn btn-primary my-2">Notificate Exhibitors</a>
    <br/>
    <a asp-action="Edit" asp-route-id="@Model.Conference.Id" class="btn btn-success">Edit</a>
    <a asp-controller="EventCenter" asp-action="Details" asp-route-id="@Model.Conference.EventCenterId" class="btn btn-secondary">Back to List</a>
</div>

<br />
<br />

<div>
    <h4>Sponsors</h4>
    @if (Model.Conference.Sponsors.Count > 0)
    {
        <ul>
            @foreach(var sponsor in Model.Conference.Sponsors)
            {
                <li>@sponsor.Name</li>
            }
        </ul>
    }
    else
    {
        <p>This Conference does not have any Sponsors yet. You can add one below.</p>
    }
    <h4>Add a new Sponsor</h4>
    <form asp-action="AddSponsor", asp-route-id="@Model.Conference.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Sponsor.Name" class="control-label"></label>
                <input asp-for="@Model.Sponsor.Name" class="form-control" />
                <span asp-validation-for="@Model.Sponsor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
</div>

<br />
<br />

<div>
    <h4>Events in this Conference</h4>
    @if (Model.Conference.Events.Count > 0)
    {
        <div class="card-columns">
            @foreach (var conferenceEvent in Model.Conference.Events)
            {
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">
                        
                        @Html.DisplayFor(modelItem => conferenceEvent.StartDate.DayOfWeek)
                        @Html.DisplayFor(modelItem => conferenceEvent.StartDate.Day) /
                        @Html.DisplayFor(modelItem => conferenceEvent.StartDate.Month) /
                        @Html.DisplayFor(modelItem => conferenceEvent.StartDate.Year)
                                        
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a asp-controller=@conferenceEvent.GetEventType() asp-action="Details" asp-route-id="@conferenceEvent.Id" class="card-title text-white">
                                @Html.DisplayFor(modelItem => conferenceEvent.Name)
                            </a>
                        </h4>
                        <p class="card-text">Start: @Html.DisplayFor(modelItem => conferenceEvent.StartDate.TimeOfDay)</p>
                        <p class="card-text">End: @Html.DisplayFor(modelItem => conferenceEvent.EndDate.TimeOfDay)</p>
                    </div>
                    <div class="card-footer">
                        <a asp-controller=@conferenceEvent.GetEventType() asp-action="Edit" asp-route-id="@conferenceEvent.Id" asp-route-fromWhere="Conference" class="btn btn-success">Edit</a>
                        <a asp-controller=@conferenceEvent.GetEventType() asp-action="Delete" asp-route-id="@conferenceEvent.Id" asp-route-fromWhere="Conference" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>This Conference does not have any Events yet. You can create one below.</p>
    }
    <br/>
    <a asp-action="ChooseEventType" asp-route-id="@Model.Conference.Id" class="btn btn-primary">Create a new Event</a>
</div>