@model ConventionManager.Models.EventCenterConferencesAndRooms

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="EventCenter" asp-action="CreateRoom", asp-route-id="@Model.EventCenter.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Room.Name" class="control-label"></label>
                <input asp-for="@Model.Room.Name" class="rounded-sm form-control" />
                <span asp-validation-for="@Model.Room.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Room.Capacity" class="control-label"></label>
                <input asp-for="@Model.Room.Capacity" class="rounded-sm form-control" />
                <span asp-validation-for="@Model.Room.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Room.Location" class="control-label"></label>
                <input asp-for="@Model.Room.Location" class="rounded-sm form-control" />
                <span asp-validation-for="@Model.Room.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Room.Latitude" class="control-label"></label>
                <input asp-for="@Model.Room.Latitude" class="rounded-sm form-control" required/>
                <span asp-validation-for="@Model.Room.Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Room.Longitude" class="control-label"></label>
                <input asp-for="@Model.Room.Longitude" class="rounded-sm form-control" required/>
                <span asp-validation-for="@Model.Room.Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn rounded-sm btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="EventCenter" asp-action="Details" asp-route-id="@Model.EventCenter.Id" class="btn rounded-sm btn-light">Go Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
