@model ConventionManager.Models.EventCenterConferencesAndRooms

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.EventCenter.Name)</h1>

@if (TempData["ConferenceCollision"] != null)
{
 <p class="alert alert-warning alert-dismissible" id="errorMessage">@TempData["ConferenceCollision"]</p>
}
@if (TempData["OutOfDate"] != null)
{
 <p class="alert alert-warning alert-dismissible" id="errorMessage">@TempData["OutOfDate"]</p>
}

<div>
    <h4>Event Center</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventCenter.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventCenter.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventCenter.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventCenter.Location)
        </dd>
        <dt class="col-sm-2">Map</dt>
        <dd class="col-sm-10">
            <div id="map" style="height:300px; width:80%;"></div>
            <script>
              var map;
              function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                  center: { lat: @Model.EventCenter.Latitude, lng: @Model.EventCenter.Longitude },
                  zoom: 16
                });
              }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgNFNMm7c0Y9YCYz0cNE12ZzEgScMp89g&callback=initMap"
            async defer></script>
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Organizer"))
    {
        <a asp-action="Edit" asp-route-id="@Model.EventCenter.Id" class="btn btn-secondary">Edit</a>
    }
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

<br />
<div>
    <h4>All Conferences in @Html.DisplayFor(model => model.EventCenter.Name)</h4>
    <br/>
        @if (Model.EventCenter.Conferences.Count > 0)
        {
            <div class="card-columns">
                @foreach (var conference in Model.EventCenter.Conferences)
                        {
                            <div class="card rounded-sm text-white bg-warning mb-3" style="max-width: 20rem;">
                                <div class="card-header">
                                    <div>
                                        @Html.DisplayFor(modelItem => conference.StartDate.DayOfWeek)
                                        @Html.DisplayFor(modelItem => conference.StartDate.Day) /
                                        @Html.DisplayFor(modelItem => conference.StartDate.Month) / 
                                        @Html.DisplayFor(modelItem => conference.StartDate.Year)
                                    </div>
                                    <div>
                                        @Html.DisplayFor(modelItem => conference.EndDate.DayOfWeek)
                                        @Html.DisplayFor(modelItem => conference.EndDate.Day) /
                                        @Html.DisplayFor(modelItem => conference.EndDate.Month) / 
                                        @Html.DisplayFor(modelItem => conference.EndDate.Year)
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a asp-controller="Conference" asp-action="Details" asp-route-id="@conference.Id" class="card-title text-white">
                                            @Html.DisplayFor(modelItem => conference.Name)
                                        </a>
                                    </h4>
                                    <p class="card-text">@Html.DisplayFor(modelItem => conference.Description)</p>
                                </div>
                                @if (User.IsInRole("Organizer"))
                                {
                                    <div class="card-footer">
                                        <a asp-controller="Conference" asp-action="Edit" asp-route-id="@conference.Id" class="btn btn-success">Edit</a>
                                        <a asp-controller="Conference" asp-action="Delete" asp-route-id="@conference.Id" class="btn btn-danger">Delete</a>
                                    </div>
                                }
                            </div>
                        }
            </div>
    
        }
        else
        {
            <p>This Event Center does not have any Conferences yet. You can create one below.</p>
        }
</div>
<br />

<div>
    <h4>Rooms in the @Html.DisplayFor(model => model.EventCenter.Name)</h4>
    @if (Model.EventCenter.Rooms.Count > 0)
    {
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Room.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room.Capacity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room.Location)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var room in Model.EventCenter.Rooms)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => room.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => room.Capacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => room.Location)
                    </td>
                    <td width="30%">
                        <a asp-controller="Room" asp-action="Details" asp-route-id="@room.Id" class="btn btn-info">Details</a>
                        @if (User.IsInRole("Orgainzer"))
                        {
                            <a asp-controller="Room" asp-action="Edit" asp-route-id="@room.Id" class="btn btn-success">Edit</a>
                            <a asp-controller="Room" asp-action="Delete" asp-route-id="@room.Id" class="btn btn-danger">Delete</a>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>This Event Center does not have any existing rooms yet. You can create one below.</p>
    }
    @if (User.IsInRole("Organizer"))
    {
        <a asp-controller="Room" asp-action="Create" asp-route-id="@Model.EventCenter.Id" class="btn btn-primary">Create a new Room</a>
    }
</div>

<br/>
<br/>

<div>
    <br />
    @if (User.IsInRole("Organizer"))
    {

        <h4>Create a Conference</h4>
        <form asp-action="CreateConference", asp-route-id="@Model.EventCenter.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Conference.Name" class="control-label"></label>
                <input asp-for="@Model.Conference.Name" class="form-control" required/>
                <span asp-validation-for="@Model.Conference.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Conference.Description" class="control-label"></label>
                <input asp-for="@Model.Conference.Description" class="form-control" required/>
                <span asp-validation-for="@Model.Conference.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Conference.StartDate" class="control-label"></label>
                <input asp-for="@Model.Conference.StartDate" class="form-control" required/>
                <span asp-validation-for="@Model.Conference.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Conference.EndDate" class="control-label"></label>
                <input asp-for="@Model.Conference.EndDate" class="form-control" required/>
                <span asp-validation-for="@Model.Conference.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    }
</div>

<br />
<br />
