@model IEnumerable<ConventionManager.Models.EventCenter>

@{
    ViewData["Title"] = "Index";
}

<h1>All Event Centers</h1>
@if (User.IsInRole("Organizer"))
{
    <p>
        <a asp-action="Create" class="btn rounded-sm btn-primary">Create New Event Center</a>
    </p>
}
<br/>
<div class="card-columns">
    @foreach (var item in Model)
        {
            <div class="card rounded-sm text-white bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">@Html.DisplayFor(modelItem => item.Type)</div>
                <div class="card-body">
                    <a asp-action="Details" asp-route-id="@item.Id" >
                        <h4 class="card-title text-white">
                            @Html.DisplayFor(modelItem => item.Name)
                        </h4>
                    </a>
                    <p class="card-text">Location: @Html.DisplayFor(modelItem => item.Location)</p>
                </div>
                @if (User.IsInRole("Organizer"))
                {
                    <div class="card-footer">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn rounded-sm btn-success">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn rounded-sm btn-danger">Delete</a>
                    </div>
                }
            </div>
        }
</div>