@model IEnumerable<ConventionManager.Models.EventFeedback>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Overall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attention)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomQuality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WouldRecommend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Other)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodQuality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Overall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attention)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomQuality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WouldRecommend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Other)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodQuality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
