@model IEnumerable<ConventionManager.Models.NotificationConferenceAndEvent>

@{
    ViewData["Title"] = "My Notifications";
}

<h4>My Notifications</h4>
<hr />
@if (Model.Any())
{
    @foreach (var item in Model)
    {
        <div class="chatcontainer">
            <p>
                <font color="black">
                    <a asp-controller="User" asp-action="ShowProfile" asp-route-userName="@item.UserName">@item.UserName</a>
                     on 
                    @if (item.Notification.Type == "Event")
                    {
                        <a asp-controller="@item.Event.GetEventType()" asp-action="Details" asp-route-id="@item.Event.Id">
                            @Html.DisplayFor(modelItem => item.Event.Name)
                        </a>
                    }
                    else if (item.Notification.Type == "Conference")
                    {
                        <a asp-controller="Conference" asp-action="Details" asp-route-id="@item.Conference.Id">
                            @Html.DisplayFor(modelItem => item.Conference.Name)
                        </a>
                    }
                </font>
                <span class="time-right">@item.Notification.SentOn</span>
            </p>
            <p>
            <font color="grey">
                @Html.DisplayFor(modelItem => item.Notification.Message)
            </font>
            <span class="time-right">
                @if (item.UserName == "Me")
                {
                    <a asp-action="Delete" asp-route-id="@item.Notification.Id" class="btn rounded-sm btn-danger">Delete Notification</a>
                }
            </span>
            </p>
        </div>
    }
}
else
{
    <p> You don't have any notifications yet!</p>
}
<div>
    <a href="javascript:void(0);" onclick="history.go(-1);" class="btn rounded-sm btn-light">Go Back</a>
</div>