@model ConventionManager.Models.SearchResults

@{
    ViewData["Title"] = "Search";
}

<h1>You searched for @ViewData["searchInput"]</h1>
<br />

@if (Model.EventCenters != null)
{
    <h1>Event Centers</h1>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model.EventCenters) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td width="30%">
                        <a asp-controller="EventCenter" asp-action="Edit" asp-route-id="@item.Id" class="btn rounded-sm btn-success">Edit</a>
                        <a asp-controller="EventCenter" asp-action="Details" asp-route-id="@item.Id" class="btn rounded-sm btn-info">Details</a>
                        <a asp-controller="EventCenter" asp-action="Delete" asp-route-id="@item.Id" class="btn rounded-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
    <br />
}

@if (Model.Conferences != null)
{
    <h1>Conferences</h1>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model.Conferences)
            {
                @if (User.IsInRole("Organizer") || DateTime.Compare(item.EndDate, DateTime.Now) > 0)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td width="30%">
                            <a asp-controller="Conference" asp-action="Edit" asp-route-id="@item.Id" class="btn rounded-sm btn-success">Edit</a>
                            <a asp-controller="Conference" asp-action="Details" asp-route-id="@item.Id" class="btn rounded-sm btn-info">Details</a>
                            <a asp-controller="Conference" asp-action="Delete" asp-route-id="@item.Id" class="btn rounded-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            }
                </tbody>
            </table>
        </div>
    </div>
    <br />
}

@if (Model.Events != null)
{
    <h1>Events</h1>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model.Events)
            {
                @if (User.IsInRole("Organizer") || DateTime.Compare(item.EndDate, DateTime.Now) > 0)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td width="30%">
                            <a asp-controller="@item.GetEventType()" asp-action="Edit" asp-route-id="@item.Id" class="btn rounded-sm btn-success">Edit</a>
                            <a asp-controller="@item.GetEventType()" asp-action="Details" asp-route-id="@item.Id" class="btn rounded-sm btn-info">Details</a>
                            <a asp-controller="@item.GetEventType()" asp-action="Delete" asp-route-id="@item.Id" class="btn rounded-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            }
                </tbody>
            </table>
        </div>
    </div>
    <br />

}

@if (Model.Rooms != null)
{
    <h1>Rooms</h1>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Capacity</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model.Rooms) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td width="30%">
                        <a asp-controller="Room" asp-action="Edit" asp-route-id="@item.Id" class="btn rounded-sm btn-success">Edit</a>
                        <a asp-controller="Room" asp-action="Details" asp-route-id="@item.Id" class="btn rounded-sm btn-info">Details</a>
                        <a asp-controller="Room" asp-action="Delete" asp-route-id="@item.Id" class="btn rounded-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
    <br />

}

@if (Model.Users != null)
{
    <h1>Users</h1>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var user in Model.Users) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => user.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.UserName)
                    </td>
                    <td width="30%">
                        <a asp-controller="User" asp-action="ShowProfile" asp-route-userName="@user.UserName" class="btn rounded-sm btn-info">View Profile</a>
                    </td>
                </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
}

@if (Model.EventCenters == null && Model.Conferences == null && Model.Events == null && Model.Rooms == null && Model.Users == null)
{
    <p>Your search gave no results.</p>
}

<div>
    <a href="javascript:void(0);" onclick="history.go(-1);" class="btn rounded-sm btn-light">Go Back</a>
</div>
