@model ConventionManager.Models.ApplicationUser

@{
    ViewData["Title"] = "Profile";
}

@if (Model.UserName == ViewData["thisUserName"].ToString())
{
    <h1>My Profile</h1>
}
else
{
    <h1>@Model.FirstName @Model.LastName's Profile</h1>
}

<div class="row">
    <div class="col-sm-2">
        <img src=@Model.ProfilePictureUrl>
    </div>
    <div class="col-sm-10">
        <p><strong>Full Name:</strong> @Model.FullName()</p>
        <p><strong>Username:</strong> @Model.UserName</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Phone Number:</strong> @Model.PhoneNumber</p>
        <p><strong>Curriculum:</strong> @Model.CurriculumUrl</p>
    </div>
</div>
@if (Model.UserName == ViewData["thisUserName"].ToString())
{
    <div>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="btn rounded-sm btn-success">Edit Profile</a>
    </div>
    <br />
}

<div>
    <a href="javascript:void(0);" onclick="history.go(-1);" class="btn rounded-sm btn-light">Go Back</a>
</div>